@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<!--
<h1> Estrai tutti i dispositivi</h1>
<br />

<table>
    <tr>
        <th>id</th>
        <th>Device</th>
        <th>altitudine</th>
        <th>latitudine</th>
        <th>longitudine</th>
    </tr>
    @foreach (var dispositivo in @Model.elencoDispositivi)
    {
        <tr>
            <td>@dispositivo.IdDevice</td>
            <td>@dispositivo.Device</td>
            <td>@dispositivo.altitudine</td>
            <td>@dispositivo.latitudine</td>
            <td>@dispositivo.longitudine</td>
        </tr>
    }
</table>
-->
<br/>
<br/>
<br/>
<h1> test activePower </h1>

<form action="/Index" method="get">
    <select name="NomeDevice">
        @foreach (var dispositivo in @Model.NomiDispositivi)
        {
            <option value=@dispositivo>@dispositivo</option>
        }
    </select>
    <br/>
    <input type="submit" value="Submit" class="submit" />
</form>

<canvas id="graficoPower" width="400" height="400"></canvas>

<script>

    let lables = @Html.Raw(Json.Serialize(Model.Date));
    let data = {
            labels: lables, 
            datasets: [{
                label: 'Minuti mensili', 
                backgroundColor: 'rgb(255, 99, 132)', 
                borderColor: 'rgb(255, 99, 132)', 
                data: @Html.Raw(Json.Serialize(Model.ActivePower)), 
            }]
        };

        let options = {
            responsive: true, 
            plugins: {
                title: {
                    display: true,
                    text: 'Grafico Media Minuti Mensili' 
                }
            }
        };

        let ctx = document.getElementById('graficoPower').getContext('2d');


        let myChart = new Chart(ctx, {
            type: 'line', 
            data: data, 
            options: options 
        });

</script>





